.payment-status-title {
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #ee061a;
}

.nothing-to-show {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
}

.red-bottom-border {
    border-style: solid;
    border-color: gainsboro;
    border-width: 0.75px;
    margin: 0 5px;
}
