.user-picture {
  text-align: center;
  margin-top: 15px;
}

.user-name {
  text-align: center;
  margin-top: 10px;
}

.user-bio{
  font-size: 13px;
  line-height: 2rem;
  overflow: scroll;
  height: 29vh;
  margin-top: 10px;
  text-align: center;
}

.follow-box {
  display: flex;
}

.user-followers {
  text-align: center;
  font-size: 13px;
}

.user-followers-pics {
  position: relative;
  width: 50%;
  align-items: center;
  display: flex;
}
.each-follower {
  position: absolute;
  border: 1px solid #ccc;
  box-shadow: 5px 0 5px 1px rgba(0, 0, 0, 0.3);
}

.user-follow {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.activity-counter {
  font-size: 13px;
}

