.logo-margin {
  margin-bottom: -10px;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

.filter-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-inputs {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 54px;
}

.extra-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 13px;
     a {
      color: gray;
      text-decoration: none;
    }
}

.background-color {
  background: #ee061a05;
}

.landing-value-prop-main-title {
  font-size: 25px;
  color:  #696969;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.props-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .props-container :first-child {
//   width: 150px;
// }

.props-container > * {
        flex: 1 1 0;
}


.props-container-testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo-prop {
  margin-left: 19px;
  margin-right: -23px;
  margin-bottom: 21px;
}

.landing-value-prop-title {
  font-size: 20px;
  color:  #696969;
  margin-top: 30px;
  text-align: left;
  margin-left: 10px;
}

.landing-user-name {
  font-size: 15px;
  color:  #696969;
  text-align: center;
  margin-top: 6px;

}

.avatar-testimonial {
  margin-top: 20px;
}

#first-element-value-prop {
  margin-top: 20px;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-scroll-half {
  overflow: scroll;
  height: 30vh;
}

.small-star {
  font-size: 13px;
}

.mini-star {
  font-size: 10px;
}

// New Homepage

.landing-h1 {
  padding: 20px 20px;
  text-align: center;
  h1 {
  text-align: center;
  font-size: 16px !important;
  line-height: 24px;
  }
  p {
  color: #ee061a;
  font-size: 15px;
  margin: 45px 0px;
  }

}

.landing-title {
  h2 {
  text-align: center;
  font-size: 15px;
  color: #ee061a;
  padding: 0 10px;
  margin: 45px 0px;
  }
}

.value-proposition-container {
  background-color: #ee061a1a;
  padding: 20px 0px;
}

.value-proposition-box {
  text-align: center;
}

.value-proposition-icon {
  height: 95px;
  justify-content: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: -34px;
}

.value-proposition-title {
  h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  }
}

.value-proposition-bullet {
  padding: 0 30px;
  h4 {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 27px;
  }
}

.testimonials-container {
  padding: 20px 0px;
}

.testimonials-title {
  h2 {
  text-align: center;
  font-size: 15px;
  color: #ee061a;
  padding: 0 10px;
  margin: 45px 0px;
  }
}

.testimonials-box {
  text-align: center;
  margin-bottom: 20px;
}

.testimonial-bullet {
  padding: 0 30px;
  h4 {
  font-size: 14px;
  line-height: 24px;
  }
}

blockquote {
font-family: Georgia, serif;
font-size: 16px;
font-style: italic;
width: 290px;
/* margin: 0.25em 0; */
/* padding: 0.25em 40px; */
line-height: 1.45;
position: relative;
color: #383838;
border: none;
padding: 12.5px 25px 0;
/* text-align: left; */
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #ee061a;
}

.landing-cta {
  padding: 13px 34px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3333333;
  color: #e41007;
  background-color: #f7f539;
  border-color: #ec4844;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.landing-mockup {
  height: 300px;
}

.btn-lg {
  padding: 13px 24px;
  font-size: 17px;
}
