.logo-margin {
  margin-bottom: -10px;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

.filter-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-inputs {
  width: 45vh;
  font-size: 15px;
}

.extra-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 13px;
     a {
      color: gray;
      text-decoration: none;
    }
}

.background-color {
  background: #ee061a05;
}

.landing-value-prop-main-title {
  font-size: 30px;
  color:  #696969;
  margin-top: 30px;
  text-align: center;
}


.landing-value-prop-title {
  font-size: 20px;
  color:  #696969;
  margin-top: 30px;
  text-align: center;
}


.landing-value-prop-paragraph {
  font-size: 10px;
  margin-bottom: 30px;
  text-align: center;
}

#first-element-value-prop {
  margin-top: 20px;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-scroll-half {
  overflow: scroll;
}
