<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 small-padding" style="background-color: #e6e8ff;">
<!-- <div class="container-index">
  <div class="row"> -->
      <div class="cards-container">
        <div class="col-xs-4 card-container">
          <%= render 'shared/horizontalcardsmyact', activity: @activity %>
        </div>

          <!-- For countdown circle  -->
        <!-- <div class="cards-container"> -->
          <div class="progress" id="progress"></div>
        </div>
     <!--  </div> -->

      <div class="col-xs-4 buttons-container">
        <button class="start-button cta-button">Start</button>
        <button class="review-button cta-button">Review<i class="fas fa-caret-right"></i></button>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_timer do %>
<!-- <script> -->
<!--     // window.app.timer(); -->
<!--     // const startB = document.querySelector(".back-button.cta-button"); -->
<!--  -->
<!--     // startB.addEventListener("click", (event) => { -->
<!--     //   window.app.startTimer(); -->
<!--     // }); -->
<!--   </script> -->
<% end %>


<script>
  const cards = document.querySelectorAll(".card-box");
  window.onload = function() {
    cards.forEach( function(element, index) {
      setTimeout(function() {
        element.style.opacity = "0.9";
      },
        (90*index)
      )

  //     element.animate([
  // // keyframes
  //     { opacity: '0' },
  //     { opacity: '1' }
  //     ]
  //     ,{duration: 1000, delay: (1000*index)});
    })
  };

function goBack() {
    window.history.back();
}

function goForward() {
    window.history.forward()
}
</script>


