<div class="container">
  <div class="row full-height">
    <div class="col-xs-12 col-md-4 col-md-offset-4 small-padding background-color height-full-percent">
<!-- <div class="container-index">
  <div class="row"> -->
      <div>
        <div class="col-xs-4 card-container">
          <%= render 'shared/horizontalcardsmyact', activity: @activity, booking: @booking %>
        </div>
      </div>
      <div class="timer-container">

          <!-- For countdown circle  -->
        <!-- <div class="cards-container"> -->
          <div class="timer-progress" id="progress"></div>
        </div>
     <!--  </div> -->

      <div class="col-xs-4 buttons-container">
        <button class="cta-button half-width">Start</button>
        <% ulat = current_user.latitude.to_s %>
        <% ulng = current_user.longitude %>
        <% latitude = @booking.activity.latitude %>
        <% longitude = @booking.activity.longitude %>
        <% url = "https://www.google.com/maps/dir/?api=1&origin=#{ulat},#{ulng}&destination=#{latitude},#{longitude}" %>
        <%= link_to "Map", url, class: "passive-button half-width grey-button" %>
        <%= link_to "Review", new_booking_review_path(@booking), class: "passive-button half-width" %>
  <!--       <button class="review-button cta-button">Review<i class="fas fa-caret-right"></i></button> -->
      </div>
    </div>
  </div>
</div>




<script>
  const cards = document.querySelectorAll(".card-box");
  window.onload = function() {
    cards.forEach( function(element, index) {
      setTimeout(function() {
        element.style.opacity = "0.9";
      },
        (90*index)
      )

  //     element.animate([
  // // keyframes
  //     { opacity: '0' },
  //     { opacity: '1' }
  //     ]
  //     ,{duration: 1000, delay: (1000*index)});
    })
  };

function goBack() {
    window.history.back();
}

function goForward() {
    window.history.forward()
}
</script>


