
<div class="container">
  <div class="row full-height">
    <div class="col-xs-12 col-md-4 col-md-offset-4 small-padding background-color height-full-percent">
<!-- <div class="container-index">
  <div class="row"> -->
      <div class="payment-status-title">Paid</div>
      <div class="cards-container overflow-scroll-half red-bottom-border">
          <% @bookings.each do |booking| %>
            <% if booking.state == "paid" %>
              <div class="col-xs-4 card-container">
                <%= render 'shared/horizontalcardsmyact', activity: booking.activity, booking: booking %>
              </div>
            <% end %>
          <% end %>
      </div>

      <div class="payment-status-title">Not Paid</div>
      <div class="cards-container overflow-scroll-half red-bottom-border">
          <% if @bookings.count == 0 %>
              <div class="nothing-to-show">
                  Nothing to show here at this moment.
              </div>
          <% else %>
            <% @bookings.each do |booking| %>
              <% if booking.state != "paid" %>
                <div class="col-xs-4 card-container">
                  <%= render 'shared/horizontalcardsmyact', activity: booking.activity, booking: booking %>
                </div>
              <% end %>
            <% end %>
          <% end %>
      </div>
      <div class="col-xs-4 buttons-container">
          <button class="back-button passive-button full-width" onclick="goBack()"><i class="fas fa-caret-left"></i>Back</button>
      </div>
    </div>
  </div>
</div>


<script>
  const cards = document.querySelectorAll(".card-box");
  window.onload = function() {
    cards.forEach( function(element, index) {
      setTimeout(function() {
        element.style.opacity = "0.9";
      },
        (90*index)
      )

  //     element.animate([
  // // keyframes
  //     { opacity: '0' },
  //     { opacity: '1' }
  //     ]
  //     ,{duration: 1000, delay: (1000*index)});
    })
  };

function goBack() {
    window.history.back();
}

function goForward() {
    window.history.forward()
}
</script>
