<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<div class="navbar-wagon">


    <% if user_signed_in? %>
      <!-- Link to slideout -->
      <div class="toggle-button">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      </div>

      <div>
        <p id="logo_text">primetime</p>
      </div>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item toggle-button-right">
        <div class="dropdown">
          <%= cl_image_tag current_user.picture, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        </div>
      </div>



    <% else %>
      <!-- Login link (when logged out) -->

      <p id="logo_text">primetime</p>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
</div>

