<nav id="menu">
<!--   <header> -->
  <h2>Menu</h2>
<!--   </header> -->
  <p> <%= link_to "New Activity", new_activity_path  %> </p>
  <p> <%= link_to "My Activities", activities_path  %> </p>
  <p> My Bookings </p>
  <p> My Profile </p>
  <p> My Followers</p>


</nav>




