<nav id="menu-right">
  <% if user_signed_in? %>
  <h2><%= current_user.first_name %></h2>
  <% else %>
  <h2>User Menu</h2>
  <% end %>
  <p><%= link_to "Profile", edit_user_registration_path %></p>
  <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
</nav>

