.big-banner-show {
  height: 60vh;
}

.zero-height {
  height: 0px;
}


.booking-payment-info {
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  height: 20vh;
  font-size: 15px;
}
