/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 1000;
  position: absolute;
  width: 100%;
  top: 60px;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
