.banner-show {
  // height: 30vh;
  // width: 100%;
  // background-size: cover;
  // background-position: center;
  height: 30vh;
  width: 103%;
  background-size: cover;
  background-position: center;
  margin-left: -5px;

}
