.container-index {
  width: 360px;
  height: 570px;
  position: relative;
  // border-color: black;
  // border-width: 1px;
  // border-style: solid;
}

.buttons-container {
    position:fixed;
    bottom:0px;
    right:0px;
    display: flex;
    width: 100%;
    height: 60px;
    z-index: 2;
    background-color: #ffff;
    color: white;
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
    padding: 0px;
}

.cards-container {
  // position: absolute;
  // top: 0px;
  // left: 0px;
  height: 510px;
  width: 100%;
  z-index: 1;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: center;
  width: 100%;
  height: 100px;
  padding: 0px;
  margin-top: 5px;
}

.back-button {
  width: 50%;
  height: 60px;

}

.next-button {
  width: 50%;
  height: 60px;
}

.cta-button {
  background-color: #72469F;
  border-left: #936db9;
  border-left-width: 0.25px;
  border-left-style: solid;
  color: white;
  i {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.passive-button {
  background-color: #ffff;
  color: #936db9;
  i {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.small-padding {
  padding: 5px;
}
