.progress {
  height: 100%;
  width: 100%;
}
.progress > svg {
  height: 100%;
  display: block;
  background-color: #e6e8ff;
}

.progressbar-text {
  color: black;
  font-weight: bold;
  font-size: 70px;
}

  .review-button:hover {

    color: white !important;
    text-decoration: none !important;

}

