.card-box {
  display: flex;
  height: 100px;
  // width: 360px;
  // border-color: black;
  // border-width: 1px;
  // border-style: solid;
  // margin-top: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background-color: #ffff;
}

.card-picture {
  min-width: 80px;
  height: 100%;
  background-image: url('<%=cl_image_path activity.picture%>');
  background-size: cover;
  background-position: center;
}

.card-content {
  display: block;
  padding: 5px;
  width: 100%
}

.card-top {
  display: block;
  height: 42px;
  color: #72469F;
  // border-width: 1px;
  // border-style: solid;
  // border-color: black;
}

.card-title {
  font-size: 13px;
}

.card-category {
  font-size: 12px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  // border-width: 1px;
  // border-style: solid;
  // border-color: black;
  height: 43px;
  margin-top: 5px;
}



.card-distance {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;

}

.card-details {
  display: flex;
  justify-content: space-around;
  // border-width: 1px;
  // border-style: solid;
  // border-color: black;
  align-items: center;
  margin-right:5px;
}

.price {
  // border-width: 1px;
  // border-style: solid;
  // border-color: black;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
  height: 30px;
  margin-right: 10px;
  color: #72469F;
  .fas.fa-wallet{
    font-size: 17px;
    color: #72469F;
  }
}

.rating {
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-color: black; */
  background-color: #72469F;
  color: white;
  padding: 5px;
  font-size: 12px;
  width: 44px;
  text-align: center;
  border-radius: 3px;
  height: 28px;
  align-items: center;
  /* vertical-align: middle; */
  /* justify-items: center; */
  display: flex;
  /* flex-direction: column; */
  // margin-top: 10px;
  justify-content: space-around;
}

.time {
  // border-width: 1px;
  // border-style: solid;
  // border-color: black;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 30px;
  color: #72469F;
  .fas.fa-clock{
    font-size: 17px;
    color: #72469F;
  }
}

.card-link {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  }
