.rating-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.rating-stars {
  text-align: center;
  color: #ee061a;
  font-size: 35px;
}

.rating-content {
  display: flex;

  width:100%;
  justify-content:center;

  .form-inputs {
      width: 100%;
      font-size: 15px;
  }
}

