.activity-details {
  padding: 0.5rem;
}

.activity-title {
  font-size: 16px;
}

.activity-category {
  font-size: 12px;
}

.activity-description{
  font-size: 13px;
  line-height: 2rem;
  overflow: scroll;
  height: 261px;
  margin-top: 10px;
}
