.activity-details {
  padding: 0 10px 0 10px;
}

.activity-title {
  font-size: 16px;
  margin-top: 7px;
}

.activity-category {
  font-size: 12px;
}

.activity-description{
  font-size: 13px;
  line-height: 2rem;
  overflow: scroll;
  margin-top: 10px;
  height: 115px;
}
