#ex1Slider .slider-selection {
  background: #BABABA;
}


.slider-big-nums {
  font-size: 90px;
}


.slider-small-time-metric {
  font-size: 25px;
  margin-left: 25px;
  margin-bottom: 40px;
}

.slider-small-money {
  font-size: 25px;
  margin-left: 25px;
  margin-right: 15px;
  margin-bottom: -10px;
  color: gray;
}


.slider-small-money-metric {
  font-size: 25px;
  margin-left: 25px;
  margin-bottom: 40px;
  margin-right: 29px;
  margin-top: -15px;
}

