<div id="time" class="container" style="display:block">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4 small-padding background-color">
       <div class="full-container container-middle">
          <div class="filter-title">
              How much time do you have?
          </div>
          <input id="ex1" name="time" data-slider-id='ex1Slider' type="text" data-slider-min="20" data-slider-max="180" data-slider-step="1" data-slider-value="14"/>
       </div>
       <div class="col-xs-4 buttons-container">
          <!-- <button class="back-button cta-button"><i class="fas fa-caret-left"></i>Back</button> -->
          <div id="next-filter" class="next-button cta-button full-button">NEXT<i class="fas fa-caret-right"></i></div>
      </div>
    </div>
  </div>
</div>
