<div id="time" class="container text-center">

  <h1>How much time do you have?</h1>

  <input id="ex1" name="time" data-slider-id='ex1Slider' type="text" data-slider-min="20" data-slider-max="180" data-slider-step="1" data-slider-value="14"/>

<div id="next-filter" class="btn btn-primary">
  Next
</div>

</div>


