<div id="money" class="container text-center">

  <h1>How much money do you have?</h1>

  <input id="ex13" name="money" type="text" data-slider-ticks="[0, 20, 50, 100, 500]" data-slider-ticks-snap-bounds="30" data-slider-ticks-labels='["$0", "$20", "$50", "$100", "$500"]'/>


  <div><%= submit_tag 'Save' %></div>

</div>
