<div class="container">
  <div class="row">

      <div class="cards-container">
          <% @activities_filtered.each do |activity| %>
          <div class="col-xs-4 card-container">
            <%= render 'shared/horizontalcards', activity: activity %>
          </div>
          <% end %>
      </div>

        <div class="buttons-container">
          <button class="back-button cta-button"><i class="fas fa-caret-left"></i>Back</button>
<!--           <button class="next-button cta-button">Next<i class="fas fa-caret-right"></i></button> -->
        </div>
  </div>
</div>

