<h1>Activities#show</h1>
<p>Find me in app/views/activities/show.html.erb</p>

<h1><%= @activity.title %></h1>

<p> Description: <%= @activity.description %></p>
<p> Duration: <%= @activity.duration %></p>
<p> Category: <%= @category %></p>


